
@mixin fonts($FontL1,$size) {
    font-family: $fontLato;
    font-weight: $FontL1;
    font-size: $size;
}   

@mixin flex($row,$align,$justify) {
    display: flex;
    flex-direction: $row;
    align-items: $align;
    justify-content: $justify;
}

@mixin image($repeat, $size, $x, $y) {
    background-repeat: $repeat;
    background-size: $size;
    background-position-x: $x;
    background-position-y: $y;
}